:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#app {
  width: 400px;
  height: 400px;
}

.canvas {
  border: 1px solid currentColor;
  height: 100%;
}
